<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>
<br>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h2>Dados retornado</h2>
        </div>
        <div class="card-body">
            <h3>NÚMERO DO PEDIDO: <strong><%= pedido %></strong></h3>
            <br>
            <h3>SEQPESSOA: <strong><%= seqpessoa %></strong></h3>
            <br>
            <h3>FANTASIA: <strong><%= fantasia %></strong></h3>
            <br>
            <h3>CNPJ: <strong><%= cnpj %></strong></h3>
            <br>
            <h3>SITUAÇÃO:
                <% if(situacao == 'LIBERADO'){ %>
                    <b style="color: green;"><strong><%= situacao %></strong></b>
                <% }else{ %>
                    <b style="color: red;"> <strong><%= situacao %></strong></b>
                <% } %>        
            </h3>
            <hr>
            <a href="/" class="btn btn-primary">Voltar</a>
        </div>
        
    </div>
</div>

<%- include ('partials/footer.ejs') %>